# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/

# Build / cache
dist/
build/

# Uploads (Do not push user CVs to GitHub)
uploads/

# Client specific
client/node_modules/
client/.env
client/dist/

# Jenkins binary (too large for GitHub - 95MB)
jenkins.war

# Maven build output
demo-maven-service/target/
